body {
  margin: 0;
  font-family: 'Quasimoda', 'ヒラギノ角ゴ ProN W3', 'sans-serif';
  color: #333;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
  margin: 0;
}
li {
  list-style: none;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm,
.sub-title {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 20px;
}
.font-lg,
.main-title {
  font-size: 70px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width,
.header {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}
.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
header {
  width: 100%;
  position: fixed;
  background-color: #808080;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  width: 100px;
}
.header__logo__img {
  width: 100%;
}
.header__logo__subtitle {
  font-size: 10px;
  text-align: center;
  color: #fff;
}
.header__nav {
  display: none;
}
.header__nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav__li {
  width: 100px;
  list-style: none;
  margin-right: 20px;
}
.header__nav__img {
  width: 100%;
}
.main-visual {
  width: 100%;
}
.mobile-menu {
  width: 50px;
  margin-top: 5px;
  margin-right: 10px;
}
.mobile-menu input {
  position: absolute;
  right: -20px;
  top: -20px;
}
.mobile-menu label {
  position: relative;
  z-index: 99;
  width: 100%;
  cursor: pointer;
}
.mobile-menu label img {
  width: 100%;
}
.mobile-menu__content {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background-color: #333;
}
#nav-input:checked ~ .mobile-menu__content {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
@media (min-width: 600px) {
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 960px) {
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 80px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
  .header__nav {
    display: block;
  }
  #mobile-menu {
    display: none;
  }
}
