/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  margin: 0
  font-family: 'Quasimoda', 'ヒラギノ角ゴ ProN W3','sans-serif'
  color: #333
}
h1{
  margin: 0
}
a{
  text-decoration: none
  color: #333
  margin: 0
}
li{
  list-style: none
}
p{
  margin: 0
}
img {
  max-width: 100%
  vertical-align: bottom
}
.font-sm {
  font-size: 14px
}
.font-md {
  font-size: 17px
}
.font-lr {
  font-size: 20px
}
.font-lg {
  font-size: 70px
}
.mb-sm {
  margin-bottom: 16px !important
}
.mb-lg {
  margin-bottom: 80px !important
}
.pb-sm {
  padding-bottom: 16px !important
}
.pb-lg {
  padding-bottom: 80px !important
}
.content-width {
  width: 90%
  margin: 0 auto
  max-width: $contentMaxWidth
}
.main-title {
  @extend .font-lg
  //このように継承しておくとmediaクエリが適用できる
  font-weight: 600
  margin-bottom: 0
  display: block
}
.sub-title {
  @extend .font-sm
}
//他のサイズでも使うので切り出しておく
.flex {
  display: flex
  flex-direction: column
}

/******************************************************************

ヘッダー

******************************************************************/

header{
  width: 100%
  position: fixed
  background-color: gray
}
.header{
  position relative
  @extend .content-width
  display: flex
  justify-content: space-between
  &__logo{
    width: 100px

    &__img{
      width: 100%
      }
      &__subtitle{
        font-size: 10px
        text-align: center
        color: #fff
        }
    }
  &__nav{
    display: none
     &__ul{
    display: flex
     }
    &__li{
      width: 100px
      list-style: none
      margin-right: 20px
      }
     &__img{
        width: 100%
        }
    }
}

.main-visual{
  width: 100%
  }
/******************************************************************

モバイルメニュー

******************************************************************/
.mobile-menu {

  input{
    position: absolute
    right: -20px
    top: -20px
  }
  label{
    position: absolute
    right:5%
    top: 5px
    z-index: 99
    width: 50px
    cursor: pointer
    transition: all 0.3s
    img{
      width: 100%
    }
  }
  &__content{
    z-index: 1
    position: fixed
    top: 0
    right: 0
    width: 50%
    height: 100vh
    transform: translateX(100%)
    transition: transform 0.3s
    background-color: #333
  }
  &__img{
    width: 100px
  }
  #nav-input:checked ~ &__content{
    transform: translateX(0px)
  }
  #nav-input:checked ~ label{
   left: 40%
  }
}
