footer#footer.footer.brown_bg
  .wrap
    a(href="")
      img.logo_img(src="images/logo.png" alt="")
    p.logo_title.white_txt ビスコッティ専門店
    .nico_info.white_txt
      p.add 〒259-0113
      p.add2 神奈川県中郡大磯町神台2-3-5
      p.tel TEL: 0463-73-8898
      p.mail E-mail: nico2010@forest.ocn.ne.jp
    .white_txt
      a.brown_txt(href="") お問い合わせ
      |  |
      a.brown_txt(href="") お知らせ
    .copyright.center.white_txt
      small
        | © 2010 nico.All rights reserved.
        br
        | 【掲載記事・写真・イラストなどの無断複写・転載等を禁じます。】
<?php wp_footer(); ?>
