<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="utf8")
    title ビスコッティ専門通販店*nico*
    link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/f3fffa880e.js" crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <?php wp_head(); ?>
  body
    header
      .header
        .header__logo
          a(href="")
            img(src="/portfolio/wp-content/themes/portfolio_template/images/logo.png" alt="" class="header__logo__img")
          p.header__logo__subtitle ビスコッティ専門店
        nav.header__nav
          ul.header__nav__ul
            li.header__nav__li
              a(href="#concept" title="コンセプト")
                img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav1.png" class="header__nav__img")
            li.header__nav__li
              a(href="#secret" title="おいしさのひみつ")
                img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav2.png" class="header__nav__img")
            li.header__nav__li
              a(href="#item-info" title="商品情報")
                img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav3.png" class="header__nav__img")
            li.header__nav__li
              a(href="#shop-info" title="出店情報")
                img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav4.png" class="header__nav__img")
            li.header__nav__li
              a(href="#online-shop" title="オンラインショップ")
                img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav5.png" class="header__nav__img")
        #mobile-menu.mobile-menu
            input(id="nav-input" type="checkbox" class="mobile-menu__input")
            label(for="nav-input")
              img(src="/portfolio/wp-content/themes/portfolio_template/images/hamburger.png", alt="" class="mobile-menu__btn")
            .mobile-menu__content
              nav.mobile-menu__nav
                ul.mobile-menu__ul
                  li.mobile-menu__li
                    a(href="#concept" title="コンセプト")
                      img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav1.png" class="mobile-menu__img")
                  li.mobile-menu__li
                    a(href="#secret" title="おいしさのひみつ")
                      img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav2.png" class="mobile-menu__img")
                  li.mobile-menu__li
                    a(href="#item-info" title="商品情報")
                      img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav3.png" class="mobile-menu__img")
                  li.mobile-menu__li
                    a(href="#shop-info" title="出店情報")
                      img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav4.png" class="mobile-menu__img")
                  li.mobile-menu__li
                    a(href="#online-shop" title="オンラインショップ")
                      img(src="/portfolio/wp-content/themes/portfolio_template/images/biscottinav5.png" class="mobile-menu__img")
