<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <?php wp_head(); ?>
  body
    header
      .header
        h1.header__logo ロゴ
        nav.header__nav
          ul.header__ul
            li.header__li CONCEPT
            li.header__li NEWS
            li.header__li MENU
            li.header__li ABOUT
            li.header__li ONLINE SHOP
