<?php get_header(); ?>
.main-visual
  .main-visual__slider
    .img01
      p.main-visual__text nico's Biscotti
    .img02
      p.main-visual-text nico's Biscotti
    .img03
      p.main-visual-text nico's Biscotti
    .img04
      p.main-visual-text nico's Biscotti
section#concept.concept
  .concept__txt
    h2 *nico*とは
    p
      strong 「本物を知る方の日常を、ちょっとHappyにする品をお届けする！」
      br
      | をコンセプトに誕生したのが、新焼菓子こと、『nico's Biscotti』です。
    p
      | 本来Biscotti(ビスコッティ)は、イタリアトスカーナ地方発祥の伝統的焼菓子で、赤ちゃんの歯固めの時期からお年寄りまで愛される、素朴でありながら、素材の風味をしっかり感じられる、とっても硬い！焼菓子です。
      br
      | 通常、エスプレッソ等に添えられ、好みの硬さになるまで、浸して食べます。
      br
      | 現地ではカントゥーチとも呼ばれ、デザートワインに浸す方もいらっしゃいます。
    p
      | イタリア以外でも知られるメジャーな焼菓子ですが、日本で『ビスコッティが好き！』と言う方は、あまりいません。
      br
      | そんな中、 『世界的ロングセラー！』の力を信じ、日本人好みに仕上げたのが、、新しいビスコッティ、『nico's Biscotti』です。日本文化に合う『浸さず硬すぎないビスコッティ』を、お気に入りの飲み物やアイスクリームと一緒に、ゆったり、美味しくお召し上がり下さい。本場イタリアのハードタイプもございます。
section#secret.secret
  .secret__txt
    h2 おいしさのひみつ
    p
      strong 「こだわりぬいた特別な製法」
      br
      | をコンセプトに誕生したのが、新焼菓子こと、『nico's Biscotti』です。
    p
      | 本来Biscotti(ビスコッティ)は、イタリアトスカーナ地方発祥の伝統的焼菓子で、赤ちゃんの歯固めの時期からお年寄りまで愛される、素朴でありながら、素材の風味をしっかり感じられる、とっても硬い！焼菓子です。
      br
      | 通常、エスプレッソ等に添えられ、好みの硬さになるまで、浸して食べます。
      br
      | 現地ではカントゥーチとも呼ばれ、デザートワインに浸す方もいらっしゃいます。
    p
      | イタリア以外でも知られるメジャーな焼菓子ですが、日本で『ビスコッティが好き！』と言う方は、あまりいません。
      br
      | そんな中、 『世界的ロングセラー！』の力を信じ、日本人好みに仕上げたのが、、新しいビスコッティ、『nico's Biscotti』です。日本文化に合う『浸さず硬すぎないビスコッティ』を、お気に入りの飲み物やアイスクリームと一緒に、ゆったり、美味しくお召し上がり下さい。本場イタリアのハードタイプもございます。
section#item-info.item-info
    h2 商品情報
    .item-info__box
      .item-info__box__txt
        h2 プレーン
        p
          | ハードタイプの基本生地。硬いままでも美味しいですが、カフェオレに浸すのもオススメ。
          br
          | 【原材料】小麦粉・砂糖・卵・バニラオイル・ベーキングパウダー・塩
      .item-info__box__img
        img.item-info__img(src="images/plain.jpg")
    .item-info__box
      .item-info__box__img
        img.item-info__img(src="images/choconuts.jpg")
      .item-info__box__txt
        h2.item_name チョコアーモンド
        p
          | 本場イタリアの基本レシピ。素朴でありながら、風味豊かな伝統の美味しさ。
          br
          | 【原材料】小麦粉・砂糖・卵・アーモンド・チョコレート・ベーキングパウダー・バニラオイル・塩
    .item-info__box
      .item-info__box__txt
        h2.item_name マカダミアナッツ
        p
          | シャラシャラと砕ける生地とたっぷりのマカダミアの食感が心地良く、アイスのお供にも人気。
          br
          | 【原材料】小麦粉・マカダミア・砂糖・卵・バター・ココア・ベーキングパウダー・バニラオイル・塩
      .item-info__box__img
        img.item-info_img(src="images/macadamia.jpg")
    .item-info__box
      .item-info__box__img
        img.item-info_img(src="images/walnuts.jpg")
      .item-info__box__txt
        h2 黒糖くるみ
        p
          | 優しい風味の黒糖＆優しく砕ける胡桃。気持ちまで優しくなる様な癒し系。
          span
            i.fas.fa-crown
            | 人気No1
          | はこちら！
          br
          | 【原材料】小麦粉・胡桃・黒糖・卵・バター・ベーキングパウダー・バニラオイル・塩
    .item-info__more
      a.item-info__more__link(href="") ほかにもたくさんの種類がございます
section#shop-info.shop-info
    h2 出店情報
    .shop-info__cont
      p.shop-info__list
        i.fas.fa-asterisk
        |  自動販売機
      .shop-info__ven-img
        img(src="https://img21.shop-pro.jp/PA01365/950/etc/nico11.jpg" alt="")
      .shop-info__ven-map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.89074237468!2d139.26723735076467!3d35.30869618018608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019ae8e8660011f%3A0x524e08eae3b9d707!2z44CSMjU5LTAxMTMg56We5aWI5bed55yM5Lit6YOh5aSn56Ov55S655-z56We5Y-w77yS5LiB55uu77yT4oiS77yV!5e0!3m2!1sja!2sjp!4v1472452381294" width="100%" height="200px" frameborder="0" allowfullscreen="")
      .shop-info__txt
        p.center 約15種類。24時間販売中！（工房併設）南公園に面した黒い建物です。<
    .border
    .shop-info__cont
      p.shop-info__list
        i.fas.fa-asterisk
        |  出店販売
      .flex
        .shop-info__news
          dl.clearfix
            dt
              span.date 2020年08月
            dd 【8月】木村植物園ガーデン倶楽部（平塚）ティアラ紅茶専門店（逗子）こげちゃ家（町田）にて販売しています。
            dt
              span.date 2020年04月10日
            dd 出店はしばらくありません…。皆様、ご安全に…！
        .shop-info__img
          img(src="https://img21.shop-pro.jp/PA01365/950/etc/nico10.jpg" alt="")
      h4 主な出店実績(常設ではありません)
      p 大磯市・日吉東急アベニュー・渋谷ヒカリエ・町田東急ツインズ・中央林間手づくりマルシェ・逗子コミュニティパーク・阪急百貨店等

<?php get_footer(); ?>
